build/
cmake/
misc/.vs/
*.DS_Store
*.opensdf
*.sdf
code/todo.txt
misc/neon.sublime-workspace
misc/screenshots/screenshot_25-04-18_1.PNG
misc/screenshots/screenshot_25-04-18_2.PNG
misc/screenshots/screenshot_25-04-18_3.PNG
